<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.safewordapp">

    <!-- tools:ignore cannot be used directly on <uses-feature>. Instead, suppress the warning in the lint configuration file or with a comment -->
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>
<uses-permission android:name="android.permission.SEND_SMS"/>



        }

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

        }, LOCATION_PERMISSION_CODE);
        }

        ActivityCompat.requestPermissions(this, new String[]{Manifest.permission.POST_NOTIFICATIONS}, POST_NOTIFICATION_PERMISSION_CODE);
        }

<uses-permission android:name="android.permission.INTERNET"/>


        startActivity(intent);

    <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.RECORD_AUDIO"/>
</manifest>
